apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-region
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-region
  template:
    metadata:
      labels:
        app: nginx-region
    spec:
      containers:
      - name: nginx
        image: nginx:1.23
          ports:
            - containerPort: 80